@media screen and (max-width: 650px) {
  .about-page main .main-section .main-section-content {
    padding: 10% 10%;
  }
}

@media screen and (max-width: 550px) {
  .about-page main .main-section .main-section-content .content h1 {
    font-size: 40px;
  }

  .about-page main .main-section .main-section-content .content p {
    font-size: 20px;
  } 
} 

@media screen and (max-width: 400px) {
  .about-page main .main-section .main-section-content {
    padding: 10% 5%;
  }
}

