@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  background-color: #EFEFEF;
}

.about-page main .main-section .main-section-content {
  padding: 10% 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-page main .main-section .main-section-content .content {
  width: 50%;
  margin-bottom: 75px;
}

.about-page main .main-section .main-section-content .content h1 {
  margin-bottom: 12px;
  color: #303030;
  font-size: 44px;
}
.about-page main .main-section .main-section-content .content p {
  color: #666;
  font-size: 22px;
  line-height: 1.4;
}

.about-page main .main-section .main-section-content .content .mission {
  color: #08605F;
}

.about-page main .main-section .main-section-content .content .about {
  color: #229897;
}

