@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  color: #303030;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  background-color: #EFEFEF;
}

.home-page header {
  width: 100%;
  padding: 10px 16px;
}

.home-page header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-page header nav img {
  margin-left: 75px;
}

.home-page header nav div {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.home-page header nav div a {
  padding: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #303030;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.home-page header nav div .about-container {
  border-right: 1px solid #229897;
}

.home-page header nav div .about-container a {
  margin-right: 20px;
}

.home-page .main-section {
  height: 800px;
}

.home-page .main-section .main-section-div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

}

.home-page .main-section .main-section-div .main-description {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
}

.home-page .main-section .main-section-div .main-description h1 {
  width: 100%;
  font-size: 40px;
  color: #303030;
}

.home-page .main-section .main-section-div .main-subdescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.home-page .main-section .main-section-div .main-subdescription p {
  font-size: 25px;
  color: #666666;
}

.home-page .main-section .main-section-div .main-subdescription button {
  background-color: #00A5CF;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  border: none;
  margin-left: 20px;
  color: #fff;
  transition: filter 0.3s;
  cursor: pointer;
}

.home-page .main-section .main-section-div .main-subdescription button:hover {
  filter: brightness(90%);
}

.home-page .main-section .main-section-div .main-image {
  /* width: 40%; */
  display: flex;
  justify-content: flex-end;
}

.home-page .main-section .main-section-div .main-image img {
  width: 100%;
}

.home-page .simple-section .simple-section-first {
  background-image: url("./assets/simple-section_bd.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.home-page .simple-section .simple-section-first .simple-section-content {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.home-page .simple-section .simple-section-first .simple-section-content .title {
  font-size: 32px;
  font-weight: 700;
  margin: 100px auto 75px auto;
}

.home-page .simple-section .simple-section-first .simple-section-content .content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.home-page .simple-section .simple-section-first .simple-section-content .content .content-text {
  width: 40%;
}


.home-page .simple-section .simple-section-first .simple-section-content .content .content-image {
  margin-right: 50px;
}

.home-page .simple-section .simple-section-first .simple-section-content .content .content-text h2 {
  font-size: 34px;
  font-weight: 600;
  white-space: nowrap;
}

.home-page .simple-section .simple-section-first .simple-section-content .content .content-text p {
  font-size: 22px;
  font-weight: 400;
  color: #666;
  width: 80%;
  line-height: 1.3;
}


.home-page .simple-section .simple-section-second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .simple-section .simple-section-second div {
  padding: 0 10%;
}

.home-page .simple-section .simple-section-second .content {
  display: flex;
  margin-bottom: 50px;
}

.home-page .simple-section .simple-section-second .notes-menu {
  margin-bottom: 100px;
}

.home-page .simple-section .simple-section-second .content h2 {
  font-size: 38px;
  font-weight: 600;
  white-space: nowrap;
}

.home-page .simple-section .simple-section-second .content p {
  font-size: 22px;
  font-weight: 400;
  color: #666;
  width: 100%;
}

.home-page .simple-section .simple-section-third {
  background-image: url("./assets/big-ideias_bd.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
}

.home-page main .important-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.home-page main .important-section .section-title {
  margin-bottom: 30px;
}

.home-page main .important-section .section-title h1 {
  font-size: 44px;
  font-weight: 700;
}

.home-page main .important-section .important-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.home-page main .important-section .important-section-content div {
  width: 30%;
}

.home-page main .important-section .important-section-content div h2 {
  color: #303030;
  font-size: 38px;
}

.home-page main .important-section .important-section-content div p {
  font-size: 22px;
  font-weight: 400;
  color: #666;
  width: 80%;
}

.home-page main .last-section {
  background-image: url("./assets/inprogress_bd.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
}

.home-page main .last-section .last-section-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page main .last-section .last-section-inner-container .much-more-description {
  align-self: center;
}

.home-page main .last-section .last-section-inner-container .much-more-description h2 {
  color: #303030;
  font-size: 38px;
}

.home-page main .last-section .last-section-inner-container .much-more-description p {
  font-size: 22px;
  font-weight: 400;
  color: #666;
  width: 70%;
}

.home-page main .last-section .last-section-inner-container .much-more-description p a {
  color: #00A5CF;
}

.home-page main .last-section .remind-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0;
}

.home-page main .last-section .remind-description h1 {
  font-weight: 500;
  font-size: 30px;
  color: #303030;
}

.home-page main .last-section .remind-description button {
  background-color: #00A5CF;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  border: none;
  margin-top: 20px;
  color: #fff;
  transition: filter 0.3s;
  cursor: pointer;
}

.home-page footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid #dddddd;
}

.home-page footer p {
  margin-top: 20px;
}
