@media screen and (max-width: 1118px) {
  .home-page main .main-section .main-section-content .main-subdescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .home-page main .main-section .main-section-content .main-subdescription p {
    margin-bottom: 15px;
  }

  .home-page main .main-section .main-section-content .main-subdescription a {
    margin-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .home-page main .main-section .main-section-content .main-description h1 {
    text-align: center;
  }

  .home-page main .main-section .main-section-content .content {
    flex-direction: column;
    justify-content: center;
  }

  .home-page main .main-section .main-section-content .main-subdescription {
    align-items: center;
  }

  .home-page main .first-section .first-section-content .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-page main .first-section .first-section-content .content.take-notes {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .home-page main .first-section .first-section-content .content .content-text {
    width: 100%;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    text-align: center;
  }

  .home-page main .first-section .first-section-content .content .content-text p {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .home-page main .first-section .first-section-content .content .environment-list-image {
    margin-top: 50px;
  }

  .home-page main .first-section .first-section-content .content .content-text.right {
    width: 100%;
  }

  .home-page main .first-section .first-section-content .content .content-text.right p {
    width: 80%;
    margin: auto;
    padding-left: 0;
  }

  .man-environments {
    margin-top: 50px;
  }

  .home-page main .second-section .second-section-content .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-page main .second-section .second-section-content .content.move-notes {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .home-page main .second-section .second-section-content .content .content-text {
    width: 100%;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    text-align: center;
  }

  .home-page main .second-section .second-section-content .content .content-text p {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .home-page main .second-section .second-section-content .content .content-image {
    margin-top: 50px;
  }

  .home-page main .second-section .second-section-content .content .content-text.right {
    width: 100%;
  }

  .home-page main .second-section .second-section-content .content .content-text.right p {
    width: 80%;
    margin: auto;
    padding-left: 0;
  }

  .home-page main .third-section .third-section-content .content h2 {
    text-align: center;
  }

  .home-page main .third-section .third-section-content .content .content-text p {
    width: 100%;
    text-align: center;
  }

  .home-page main .third-section .third-section-content #big-note {
    display: none;
  }

  .home-page main .important-section .important-section-content .title h1 {
    text-align: center;
  }

  .home-page main .important-section .important-section-content .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .home-page main .important-section .important-section-content .content img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 50px;
  }

  .home-page main .important-section .important-section-content .content .content-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    text-align: center;
  }

  .home-page main .important-section .important-section-content .content .content-text p {
    text-align: center;
  }

  .home-page main .last-section .last-section-content .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-page main .last-section .last-section-content .content img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 50px;
  }

  .home-page main .last-section .last-section-content .content .content-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    text-align: center;
  }

  .home-page main .last-section .last-section-content .content .content-text p {
    text-align: center;
  }
}

@media screen and (max-width: 716px) {
  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 38px;
  }

  .home-page main .first-section .first-section-content .title h1 {
    font-size: 38px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 38px;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 34px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 34px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 34px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 34px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 34px;  
  }
}


@media screen and (max-width: 681px) {
  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 34px;
  }

  .home-page main .first-section .first-section-content .title h1 {
    font-size: 34px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 34px;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 30px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 30px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 30px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 30px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 30px;  
  }
}

@media screen and (max-width: 650px) {
  .home-page header nav .nav-itens {
    display: none;
  }

  .home-page header nav .menu {
    display: block;
  }

  .home-page main .main-section .main-section-content {
    padding: 0 10%;
  } 

  .home-page header nav {
    padding: 0 10%;
  }

  .home-page main .last-section .last-section-content {
    padding: 0 10%;
  }

  .home-page main .important-section .important-section-content {
    padding: 0 10%;
  }

  .home-page main .third-section .third-section-content {
    padding: 0 10%;
  }

  .home-page main .first-section .first-section-content {
    padding: 0 10%;
  }

  .home-page main .second-section .second-section-content {
    padding: 0 10%;
  }
}

@media screen and (max-width: 611px) {
  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 33px;
  }

  .home-page main .first-section .first-section-content .title h1 {
    font-size: 33px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 33px;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 28px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 28px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 28px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 28px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 28px;  
  }
}

@media screen and (max-width: 596px) {

  .home-page main .main-section .main-section-content .main-description {
    margin-bottom: 50px;
  }

  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 30px;
  }

  .home-page main .first-section .first-section-content .title h1 {
    font-size: 30px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 30px;
  }

  .home-page main .main-section .main-section-content .main-subdescription p {
    font-size: 22px;
  }

  .home-page main .main-section .main-section-content .main-subdescription a {
    padding: 12px;
    font-size: 14px;
  }

  .home-page main .main-section .main-section-content .content .main-image {
    height: 300px;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 26px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 26px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 26px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 26px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 26px;  
  }
}

@media screen and (max-width: 424px) { 
  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 28px;
  }
  
  .home-page main .first-section .first-section-content .title h1 {
    font-size: 28px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 28px;
  }


  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 24px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 24px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 24px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 24px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 24px;  
  }

  .home-page main .main-section .main-section-content .main-subdescription p {
    text-align: center;
  }

  .home-page main .last-section .last-section-content .content .content-text p {
    font-size: 20px;
  }

  .home-page main .important-section .important-section-content .content .content-text p {
    font-size: 20px;
  }

  .home-page main .third-section .third-section-content .content .content-text p {
    font-size: 20px;
  }

  .home-page main .third-section .second-section-content .content .content-text p {
    font-size: 20px;
  }

  .home-page main .third-section .first-section-content .content .content-text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .home-page main .main-section .main-section-content .main-description h1 {
    font-size: 25px;
  }

  .home-page main .main-section .main-section-content .main-description p {
    font-size: 20px;
  }

  .home-page main .first-section .first-section-content .title h1 {
    font-size: 25px;
  }

  .home-page main .important-section .important-section-content .title h1 {
    font-size: 25px;
  }

  .home-page main .first-section .first-section-content .content .content-text h2 {
    font-size: 21px;
  }

  .home-page main .second-section .second-section-content .content .content-text h2 {
    font-size: 21px;
  }

  .home-page main .third-section .third-section-content .content .content-text h2 {
    font-size: 21px;
  }

  .home-page main .important-section .important-section-content .content .content-text h2 {
    font-size: 21px;
  }

  .home-page main .last-section .last-section-content .content .content-text h2 {
    font-size: 21px;  
  }


  .home-page main .last-section .last-section-content .content .content-text p {
    font-size: 18px;
  }

  .home-page main .important-section .important-section-content .content .content-text p {
    font-size: 18px;
  }

  .home-page main .third-section .third-section-content .content .content-text p {
    font-size: 18px;
  }

  .home-page main .second-section .second-section-content .content .content-text p {
    font-size: 18px;
  }

  .home-page main .first-section .first-section-content .content .content-text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .home-page main .main-section .main-section-content .content .main-image {
    height: 200px;
  }
}